body {
	background-color: lightgray;
}

.container {
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

@media (max-width: 650px) {
	.container {
		flex-direction: column;
	}
	.rectangle1,
	.rectangle2 {
		width: 90%;
		margin-bottom: 20px;
		margin-right: 20px;
	}
}

hr {
	margin: 0;
	height: 1px;
	background-color: rgba(211, 211, 211, 1);
	border: white;
}
.rectangle1 .secondLine,
.rectangle1 .thirdLine,
.rectangle1 .fourthLine {
	height: calc((100% - 30%) / 3);
}

.rectangle2 .firstLine,
.rectangle2 .secondLine,
.rectangle2 .thirdLine,
.rectangle2 .fourthLine {
	height: calc(100% / 4);
}

.rectangle1 {
	height: 400px;
	background-color: white;
	flex-grow: 1;
	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.rectangle2 {
	height: 400px;
	background-color: white;
	flex-grow: 1;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}

.rectangle1 .firstLine {
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rectangle1 .firstLine input[type="text"],
.rectangle1 .firstLine button {
	height: 40%;
	padding: 10px;
	border: 1px solid lightgray;
	border-right: none;
	box-sizing: border-box;
	width: 100%;
	flex: 1;
}

.rectangle1 .firstLine input[type="text"] {
	flex: 1;
	margin-left: 20px;
	border-radius: 5px 0 0 5px;
	padding-left: 20px;
	padding-bottom: 5px;
	width: 80%;
	max-width: 80%;
}

.rectangle1 .firstLine input[type="text"]::placeholder {
	font-family: Arial, sans-serif;
	font-size: 150%;
	color: silver;
}

.rectangle1 .firstLine button {
	width: 20%;
	max-width: 20%;
	margin-right: 20px;
	background-color: #2B60DE;
	color: white;
	border-color: #2B60DE;
	border-radius: 0 5px 5px 0;
	font-family: Lucida Grande, sans-serif;
	font-weight: bold;
	font-size: 100%;
	box-shadow: inset 0px -5px 0px 0px #0041C2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rectangle1 .secondLine{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

.rectangle1 .secondLine .product{
	font-family: "Gill Sans", sans-serif;
	font-size: 110%;
	text-decoration: line-through;
}
.amount{
	background-color: #F0F0F0 ;
	border-radius: 5px;
	font-family: "Gill Sans", sans-serif;
	display: inline-block;
	height: 30px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin-right: 20px;
	margin-left: 20px;
}
.rectangle1 .secondLine button{
	width: 18%;
	max-width: 18%;
	height: 60%;
	background-color: #F0F0F0;
	border-color: #F0F0F0;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: inset 0px -5px 0px 0px lightgray;
	font-family: Lucida Grande, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: grey;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rectangle1 .thirdLine ,
.rectangle1 .fourthLine{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

.rectangle1 .thirdLine .product,
.fourthLine .product{
	order: 1;
	font-family: "Gill Sans", sans-serif;
	font-size: 110%;
	width: 9%;
}

.thirdLineMiddle,
.fourthLineMiddle{
	display: flex;
	align-items: center;
	margin-left: 10px;
	order: 2;
	height: 100%;
}
.thirdLineMiddle .button-,
.fourthLineMiddle .button-{
	height: 50%;
	width: 55%;
	color: white;
	background-color: red;
	box-shadow: inset 0px -2px 0px 0px darkred;
	font-family: Lucida Grande, sans-serif;
	font-size: 200%;
	border-radius: 50px;
	border-color: red;
	border-width: 1px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
}
.thirdLineMiddle .amount,
.fourthLineMiddle .amount{
	background-color: #F0F0F0 ;
	border-radius: 5px;
	font-family: "Gill Sans", sans-serif;
	display: inline-block;
	height: 30px;
	width: 70px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin-right: 1px;
	margin-left: 1px;
}
.thirdLineMiddle .button\+,
.fourthLineMiddle .button\+{
	height: 50%;
	width: 55%;
	color: white;
	background-color: green;
	box-shadow: inset 0px -2px 0px 0px darkgreen;
	font-family: Lucida Grande, sans-serif;
	font-size: 150%;
	border-radius: 50px;
	border-color: green;
	border-width: 1px;
	margin-left: 5px;
}

.thirdLineEnd,
.fourthLineEnd{
	display: flex;
	align-items: center;
	margin-left: 5px;
	order: 3;
	height: 100%;
}

.rectangle1 .buttonb {
	height: 60%;
	width: 100%;
	min-width: 100px;
	flex-grow: 1;
	background-color: #F0F0F0;
	border-color: #F0F0F0;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: inset 0px -5px 0px 0px lightgray;
	font-family: Lucida Grande, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: grey;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rectangle1 .buttonx {
	margin-left: 5px;
	height: 60%;
	width: 100%;
	min-width: 70px;
	color: white;
	background-color: red;
	border-color: red;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: inset 0px -5px 0px 0px darkred;
	font-size: 200%;
}








