body {
	background-color: lightgray;
}
hr {
	margin: 0;
	height: 1px;
	background-color: rgba(211, 211, 211, 1);
	border: white;
}
.container {
	padding: 40px;
	display: flex;
	margin-top: 30px;
}

@media (max-width: 800px) {
	.container {
		flex-direction: column;
	}
	.rectangle1,
	.rectangle2 {
		width: 90%;
		margin-bottom: 20px;
		margin-right: 20px;
	}
}
.rectangle1 .secondLine,
.rectangle1 .thirdLine,
.rectangle1 .fourthLine {
	height: calc((100% - 30%) / 3);
}

.rectangle2 .firstLine,
.rectangle2 .secondLine,
.rectangle2 .thirdLine,
.rectangle2 .fourthLine {
	height: calc(100% / 4);
	display: flex;
	align-items: center;
}

.rectangle1 {
	height: 400px;
	background-color: white;
	flex-grow: 1;
	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.rectangle2 {
	height: 400px;
	background-color: white;
	flex-grow: 0.5; /* Змінено значення flex-grow на 0.5 */
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}
button {
	position: relative;
	transform-style: preserve-3d;
}
button:after{
	content: attr(data-tooltip) ;
	padding: 5px;
	bottom: 100%;
	min-width:50px;
	position: absolute;
	white-space: nowrap;
	transform: translate(-50%, 5px) translateZ(-1px);
	border-radius: 5px;
	left: 50%;
	background: #AF01DA;
	color: white;
	transition: 0.5s;
	visibility: hidden;

}
button:hover::after {
	transform: translate(-50%, -5px) translateZ(0);
	visibility: visible;
	display: block;
}
.rectangle1 .firstLine button {
	width: 20%;
	max-width: 20%;
	margin-right: 20px;
	background-color: #2B60DE;
	color: white;
	border-color: #2B60DE;
	border-radius: 0 5px 5px 0;
	font-family: Lucida Grande, sans-serif;
	font-weight: bold;
	font-size: 100%;
	box-shadow: inset 0px -5px 0px 0px #0041C2;

}
.rectangle1 .buttonb {
	height: 60%;
	width: 100%;
	min-width: 100px;
	flex-grow: 1;
	background-color: #F0F0F0;
	border-color: #F0F0F0;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: inset 0px -5px 0px 0px lightgray;
	font-family: Lucida Grande, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: grey;

}

.rectangle1 .buttonx {
	margin-left: 5px;
	height: 60%;
	width: 100%;
	min-width: 70px;
	color: white;
	background-color: red;
	border-color: red;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: inset 0px -5px 0px 0px darkred;
	font-size: 100%;
}

.rectangle1 .firstLine {
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rectangle1 .firstLine input[type="text"],
.rectangle1 .firstLine button {
	height: 40%;
	padding: 10px;
	border: 1px solid lightgray;
	border-right: none;
	box-sizing: border-box;
	width: 100%;
	flex: 1;
}

.rectangle1 .firstLine input[type="text"] {
	flex: 1;
	margin-left: 20px;
	border-radius: 5px 0 0 5px;
	padding-left: 20px;
	padding-bottom: 5px;
	width: 80%;
	max-width: 80%;
}

.rectangle1 .firstLine input[type="text"]::placeholder {
	font-family: Arial, sans-serif;
	font-size: 150%;
	color: silver;
}



.rectangle1 .secondLine{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

.rectangle1 .secondLine input[type="text"] {
	font-family: "Gill Sans", sans-serif;
	width: 20%;
	font-size: 120%;
	border: none;
	background: transparent;
	text-decoration: line-through;
	padding: 0;
	margin: 0;
	outline: none;
}
.rectangle1 .thirdLine input[type="text"],
.rectangle1 .fourthLine input[type="text"]{
	font-family: "Gill Sans", sans-serif;
	font-size: 120%;
	border: none;
	background: transparent;
	width: 22%;
	padding: 0;
	margin: 0;
	outline: none;
}
.rectangle1 .secondLine input[type="text"]:focus,
.rectangle1 .thirdLine input[type="text"]:focus,
.rectangle1 .fourthLine input[type="text"]:focus
{
	border: 2px solid skyblue;
	outline: none;
}


.amount{
	background-color: #F0F0F0 ;
	border-radius: 5px;
	font-family: "Gill Sans", sans-serif;
	display: inline-block;
	height: 30px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin-right: 20px;
	margin-left: 20px;
}
.rectangle1 .secondLine button{
	width: 18%;
	max-width: 18%;
	height: 60%;
	background-color: #F0F0F0;
	border-color: #F0F0F0;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: inset 0px -5px 0px 0px lightgray;
	font-family: Lucida Grande, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: grey;

}

.rectangle1 .thirdLine ,
.rectangle1 .fourthLine{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

.thirdLineMiddle,
.fourthLineMiddle{
	display: flex;
	align-items: center;
	margin-left: 10px;
	order: 2;
	height: 100%;
}
.thirdLineMiddle .button-,
.fourthLineMiddle .button-{
	height: 45%;
	width: 60%;
	color: white;
	background-color: red;
	box-shadow: inset 0px -2px 0px 0px darkred;
	font-family: Lucida Grande, sans-serif;
	font-size: 100%;
	border-radius: 50px;
	border-color: red;
	border-width: 1px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
}
.thirdLineMiddle .amount,
.fourthLineMiddle .amount{
	background-color: #F0F0F0 ;
	border-radius: 5px;
	font-family: "Gill Sans", sans-serif;
	display: inline-block;
	height: 30px;
	width: 70px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin-right: 1px;
	margin-left: 1px;
}
.thirdLineMiddle .button\+,
.fourthLineMiddle .button\+{
	height: 45%;
	width: 60%;
	color: white;
	background-color: green;
	box-shadow: inset 0px -2px 0px 0px darkgreen;
	font-family: Lucida Grande, sans-serif;
	font-size: 100%;
	border-radius: 50px;
	border-color: green;
	border-width: 1px;
	margin-left: 5px;
}

.thirdLineEnd,
.fourthLineEnd{
	display: flex;
	align-items: center;
	margin-left: 5px;
	order: 3;
	height: 100%;
}


.rectangle2 .phrases {
	margin-left: 2%;
	align-items: center;
	font-family: "Gill Sans", sans-serif;
	color: #34282C;
	font-size: 200%;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rectangle2 .secondLine .product,
.rectangle2 .fourthLine .product{
	align-items: center;
	height: 30%;
	background-color: lightgray;
	display: flex;
	justify-content: center;
	margin-left: 2%;
	border-radius: 5px;
	font-family: "Gill Sans", sans-serif;
	font-size: 130%;
	padding: 20px;
	width: 30%;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rectangle2 .secondLine .amount,
.rectangle2 .fourthLine .amount {
	background-color: orange;
	color: #F0F0F0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 125%;
	width: 40%;
	text-align: center;
	font-size: 100%;
	max-width: 40px;
}
.rectangle2 .fourthLine .amount{
	text-decoration: line-through;
}
.rectangle2 .fourthLine .product{
	text-decoration: line-through;
	width: 40%;
}
.badge {
	position: fixed;
	bottom: 0;
	left: 20px;
	width: 270px;
	height: 40px;
	background-color: purple;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: transform 0.5s ease, background-color 0.5s ease;
	border: 1px solid black;
}

.badge:hover {
	transform: translateY(-50px);
	background-color: orange;
}

.badge::after {
	content: "";
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 15px;
	color: black;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.badge:hover::after {
	content: attr(data-author);
	opacity: 1;
}
@media print {
	.badge {
		background-color: white;
	}
}




